* {
	box-sizing: border-box;
	
}
body {
	font-family: 'Roboto', sans-serif;
	background: url(../img/patt.png);
}
.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	padding: 25px 0;
	height: 100px;
	background: rgba(255,255,255,0.75);
	color: #2C71B8;
}

.col-md-3 {
	width: 25%;
} 

.col-md-6 {
	width: 50%;
	
}
.row:after {
	content = '';
	display: block;
	clear: both;
}

.menu li {
  	width: 140px;
	float: left;
	border-left: 1px solid #2C71B8;

}
.menu li a {
	display: block;
	 text-align: center;
	height: 50px;
    line-height: 50px;
	text-decoration: none;
	font-size: 21px;
	font-weight: 300;
	color: #2C71B8;
}
.menu li:last-child {
	border-right: 1px solid #2C71B8;
}

[class*="col-"] {
	float: left;
}
.menu li a:hover {
	background: #2C71B8;
	color: white;
}

.form {
 	
 	width: 	200px;
 	height: 37px;
    top: 10px;
 	border: 1px solid  #2C71B8;
 }

 .btn {
	position: absolute;
	width: 29px;
	height: 29px;
	background: #2C71B8;
	text-align: center;
	line-height: 29px;
	cursor: pointer;
	top: 9px;
	right: 37px;
}

input[type="text"] {
	border: none;
	background: none;
	width: 164px;
	height: 36px;
	font-size: 21px;
    font-weight: 300;
	color: #2C71B8;
	
}
 input[type="text"]:focus {
  outline: none;
}

input::-webkit-input-placeholder {
	   color: #2C71B8;
	   font-size: 21px;
      font-weight: 300;
	  padding-left: 19px;
}

.box {
	width: 40px;
	height: 40px;
	background: white;
}

.col-md-2 {
	position: relative;
	width: 15%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	padding-top: 4px;


}
.col-md-10 {
	position: relative;
	width: 80%;
	height: 50px; 
	padding-top: 5px;
}

.img4 {
	position: absolute;
	top:-5px;
	right: 31px;
}
.img4 a {

    display: block;
	background: #2C71B8;
	color:white;
	width: 20px;
	height: 20px;
	font-size: 12px;
	border-radius: 50%;
	text-align: center;
	text-decoration: none;
	line-height: 20px;
}