* {
	box-sizing: border-box;
	
}
body {
	font-family: 'Roboto', sans-serif;
	background: url(../img/patt.png);
}
.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	padding: 25px 0;
	height: 100px;
	background: rgba(255,255,255,0.75);
	color: #2C71B8;
}

.col-md-3 {
	width: 25%;
} 

.col-md-6 {
	width: 50%;
	
}
.row:after {
	content = '';
	display: block;
	clear: both;
}